style

#11{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}
*2{
 font-size: large;
 font-style: oblique;

}
